body {
    height: 100vh;  /* Make sure the body takes up the full viewport height */
    width: 100%;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    background: 
    url('images/bg-pattern-desktop.svg') repeat,
    linear-gradient(135deg, hsla(0, 0%, 100%), hsla(0, 100%, 98%)),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

#main {
    flex: 1; 
    display: flex;
    overflow: hidden; 
}

.left {
    flex: 1;
    overflow-y: hidden;
    overflow-x: hidden;  
}

.right {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.right img {  
    height: 100%;
    width: 90%; 
}


.logo {
    position: relative;
    top: 10%;
    left: 25%;
}

p {
    font-family: 'Josefin Sans';
}

.p1 {
    color: hsl(0, 36%, 70%);
    font-size: 53px;
    letter-spacing: 19px;
    font-weight: 300;
    position: relative;
    top:-5%;
    left: 25%;

    padding-top: 16%;

}

.p2 {
    color: hsl(0, 6%, 24%);
    font-size: 60px;
    letter-spacing: 15px;
    font-weight: 600;
    position: relative;
    top: -14%;
    left: 25%;
}

.p3 {
    color: hsl(0, 6%, 24%);
    font-size: 60px;
    letter-spacing: 15px;
    font-weight: 600;
    position: relative;
    top: -23%;
    left: 25%;
}

.p4 {
    color: hsl(0, 36%, 70%);
    position: relative;
    font-size: 13px;
    top: -30%;
    padding-left: 25%;
    padding-right: 32%;
    line-height: 200%;

}

.mail {
    position: relative;
    top: -28%;
    left: 25%;
}

.input-wrapper {
    display: flex;
}


.text-input {
    width: 43%;
    font-size: 14px; 
    border-radius: 30px;
    border: 0.5px solid hsl(0, 36%, 70%);
    padding: 15px 15px;
    outline: none; 
    font-family: 'Josefin Sans'; 
}

.text-input::placeholder {
    color: hsl(0, 36%, 70%);
    font-size: 13px;
    padding-left: 10px;
}

.email-button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 10%;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    align-items: center; 
    position: relative;
    left: -10%;
}

.btn-img {
    margin-left: 40%;
}

.error-icon {
    position: absolute;
    display: none;
    right: 63%;
    top: 15%;
}

#error-message {
    position: relative;
    font-family: 'Josefin Sans';
    font-size: 75%;
    padding-left: 3%;
    color: hsl(0, 36%, 70%);
    margin-top: 8px;
}

footer { 
    text-align: center;
    width: 100%;
    background: #fff; 
}

footer p { 
    font-size: 11px; 
    margin: 0;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}
